<!DOCTYPE html>
<html>
<head>
    <title> add student </title>
</head>
<body>
    Please provide the following information:
    <form action="/student-add" method="POST">
        <br>
        First Name:
        <input type="text" name="first"> <br>  <br>
        Last Name:
        <input type="text" name="last">  <br>  <br>
        Github: 
        <input type="text" name="github" >  <br>  <br>
        <input type="submit" >  <br>  <br>

    </form>
    <a href="/student-add"> Info Added </a>

</body>
</html>